data/images
data/db/*
data/faces/*
venv
.venv
tigertag.db
test/db/tigertag_demo.db
test/tigertag_demo.db
test/data/images/output
.idea
**/__pycache__
*.pyc
run.bat
run-local.bat
.env
/faces

!data/faces/faces.yaml.default